# ASSIGNMENT-2(WEB SCRAPING - Selenium)

Q1: Write a python program to scrape data for “Data Analyst” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
    
1. first get the webpage https://www.naukri.com/
    
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” 
in “enter the location” field.

3. Then click the search button.

4. Then scrape the data for the first 10 jobs results you get.

5. Finally create a dataframe of the scraped data.


Note- All of the above steps have to be done in code. No step is to be done manually

In [1]:
#Lets now import all the required libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests 
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.ui import WebDriverWait
import time

In [2]:
#lets first connect to the web driver
driver = webdriver.Edge("msedgedriver.exe")

In [3]:
url = "https://www.naukri.com/"
driver.get(url)

In [4]:
#finding element for job search bar
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.clear()
search_job.send_keys("Data Analyst")
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")
search_loc = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_loc.click()

In [5]:
#creating the empty list
job_titles=[]
company_names=[]
job_location=[]
experienced_required=[]

In [6]:
#extracting all the tags having job titles
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="823b18fb-bcd2-49a0-9215-46fa9da50c45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="206ee723-b584-4f2d-8ba6-de6b783bd6db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="e80a66f0-d343-47c7-85a0-56075e0d7708")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="f334775d-b9ef-4b46-b809-a68dd27eed6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="ac7b4caa-8136-491a-847b-830c7144702e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="e28e278f-b3d5-45e2-87a6-2d9bce04aabe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="58ab1612-b0bd-402f-85b1-3582265bc54c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="273eca59-8327-4ae8-8415-9d1c0233a143")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="a7210a8a-7dd3-4ff7-825e-47c57b25b7ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="d142439a-6946-42f7-89e1-6ce594665e5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="c7aca3cc-3701-4914-9f07-e38ccaaa3d9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="92200b84-ecee-4df6-9b04-fb846e4d5b0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="6b2ce013-cbc5-463c-a83e-ab008e9bc863")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="f7fdcb1b-f5c8-4c70-8afb-513ad29cdc99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="254bcc2f-0a27-4410-b647-55e8cdc9e4f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="91689c2e-03d7-4d37-8baf-fb1c04893351")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="105f00d5-23d0-4b2f-8979-663f9d1b46e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="277fe05a-c4b3-40c9-b748-a0410d6d8ce4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="497aea88-7cbe-4366-99b6-51b3506bf6a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="9bc6dcdd-8777-4908-a26e-eb9caf1fcc0e")>]

In [7]:
#running loop to iterate over the tags extracted above and extract inside them
for i in titles_tags[:10]:
    job_titles.append(i.text)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Data Analyst - Informatica MDM',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Data Analyst',
 'Hiring For Data Analyst/ MIS Reporting Analyst - Bangalore',
 'Consultant-Data Analyst -Bangalore',
 'Data analyst - Google Analytics',
 'SW Technologist I- Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst @ Flipkart on Contract']

In [8]:
#extracting all the tags having the company names
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags

[<selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="c1a4019e-ebc8-4218-8911-d5811c80baaf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="a10b02df-7ed6-4a09-99e3-1fbdfded99e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="e1c76690-fb13-4474-a171-c59e2c437c36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="d3e2ba56-8b21-4e53-92a9-c2f6fb5e05cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="9ca4836c-f2e6-4674-8b56-a8c98208a23e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="b10b84dc-d1b3-462b-ae15-ad1a26341f37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="c2cd3a94-2561-4d64-9fa1-11cb342013c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="78334954-ff45-4329-8e08-8080ff200595")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="df177f38-c6d3-4ad3-b9b5-43abfb8a518b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="821a5528-0a2a-42bc-920a-5bb45b5132b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="f7a3469c-f425-45a4-b9c0-1d0dc93b9c6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="bc8f46ef-ecce-4361-9139-55787cfd4343")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="b0018a33-26ba-4a8a-b53d-8567f5928e07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="06adb8a2-6987-4f9f-979a-40503aca8f4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="0edba13b-c575-4aa1-88d6-986542726ed8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="86f74656-3871-45e6-a103-0537af0ed21a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="a3454963-bd76-4bb5-b239-362758403ffe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="8daa38b6-ae5a-47c0-871d-ae4848e4c2a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="b75f1e43-0ccc-41e9-bf03-928413a312a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="ddff511b-58b3-4378-924a-d834d0cc9e21")>]

In [9]:
#running loop to iterate over the tags extracted above and extract inside them
for i in companies_tags[:10]:
    company_names.append(i.text)
company_names

['Inflexion Analytix Private Limited',
 'Shell India Markets Private Limited',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 'SA Tech Software (I) Pvt. Ltd.',
 'PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd',
 'Innovsource Services Private Limited',
 'H and M Hennes and Mauritz (P) Ltd.',
 'Philips India Limited',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited']

In [10]:
#extracting all the tags having the job locations
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="01ca945d-7507-4aa6-bdd5-677e4888ae50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="5ac8070b-bb10-4dce-817f-7abb8383050a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="3027db27-0b26-49f5-88ea-5badf957a9a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="52135613-77c1-41fb-9c05-d340ad4b4cc9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="0ad26f42-16ce-41c4-951e-82ad326f03b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="c44780c5-e444-46f8-b466-d7d173c7fc62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="f79a55be-76eb-4058-aab1-188a18b4dd09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="cb2ec490-6139-49c4-b3e3-ab238f161872")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="73dc5710-d352-4df9-9ab8-cfaf9b9d402c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="a9656698-aa32-4f46-8037-84c8ecb44de0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="8b5f1211-3026-49d7-baac-546ae459fa5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="8d71305c-0d6c-440b-98b3-610f04a55873")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="1fa4e6a6-3b94-41ce-8405-dfa4263d56dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="c8a2cd02-b25d-40ae-a530-58060096fe3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="a1cc0507-a063-49a4-8e20-0541be874ab0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="fb975e6d-61b0-4aca-9da4-0c2b505d3cac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="9413438b-0ffd-4bc8-a578-6790e766e0f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="299fff94-5548-434d-8ad9-dcb0395d8fe5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="94ba705a-eed1-490f-b73b-41fbfad5294d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="71864851-7fd8-4361-a4bc-724812fbeaba")>]

In [11]:
#running loop to iterate over the tags extracted above and extract inside them
for i in location_tags[:10]:
    job_location.append(i.text)
job_location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Kolkata, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [12]:
#extracting all the tags having experince required
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="fe79484b-5ae4-4d3d-8b8b-7b022857872a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="b73538a4-0624-4767-833e-9807f970cc80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="feae3941-c0e8-4e42-9e3a-d8c85bcd9211")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="ecacbd59-1325-448e-996e-afa4db0738ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="5e7327b7-9a97-476d-b80f-2d11dcca54c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="28f150a0-5c42-475f-b210-3ed047bad48a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="c2adc72a-eb85-499a-9a26-72c15fec187a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="f7da6ecf-a199-4f1f-a4a5-139e0682259e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="ad5af15d-0298-47fc-aa5e-b02828b9eb89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="8f7a0fdc-4580-49ba-8993-7ad57a811c6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="7daf0715-3efb-4901-8274-623bd6b2349c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="0fb84899-83cf-4720-b8d0-6e4d31fff7d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="bca0dd36-ea7e-49e5-8e1b-daac3f21ba61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="ad1eae79-68a6-4315-bbe7-bae2281b8a99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="43e5c75d-70bd-4caf-b422-008965f31c56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="fdb4bbed-d834-4800-8f83-5eff5a454365")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="45c09884-5328-4d08-beee-d652a4a0f531")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="d6c472eb-e2ba-4895-b6d0-9b20db7e18c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="a4cc3141-7a01-40e8-80a3-2f72a665341d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b87a50de0f862801a234564dfb122d3c", element="bd9386ac-4a83-4f60-b779-ad11fd22a798")>]

In [13]:
#running loop to iterate over the tags extracted above and extract inside them
for i in experience_tags[:10]:
    experienced_required.append(i.text)
experienced_required

['0-3 Yrs',
 '6-9 Yrs',
 '12-18 Yrs',
 '1-3 Yrs',
 '2-4 Yrs',
 '2-7 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '1-3 Yrs',
 '2-6 Yrs']

In [14]:
print(len(job_titles),len(company_names),len(job_location),len(experienced_required))

10 10 10 10

In [15]:
#putting in dataframe

jobs=pd.DataFrame({})
jobs['titles']=job_titles
jobs['company']=company_names
jobs['experience_required']=experienced_required
jobs['location']=job_location

In [16]:
jobs

,titles,company,experience_required,location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Data Analyst - Informatica MDM,Shell India Markets Private Limited,6-9 Yrs,Bangalore/Bengaluru
2,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs,"Mumbai, Bangalore/Bengaluru"
3,Data Analyst,SA Tech Software (I) Pvt. Ltd.,1-3 Yrs,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D..."
4,Hiring For Data Analyst/ MIS Reporting Analyst...,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs,Bangalore/Bengaluru
5,Consultant-Data Analyst -Bangalore,Innovsource Services Private Limited,2-7 Yrs,Bangalore/Bengaluru
6,Data analyst - Google Analytics,H and M Hennes and Mauritz (P) Ltd.,4-7 Yrs,Bangalore/Bengaluru
7,SW Technologist I- Data Analyst,Philips India Limited,5-10 Yrs,Bangalore/Bengaluru
8,Data Analyst,Flipkart Internet Private Limited,1-3 Yrs,Bangalore/Bengaluru
9,Hiring For Data Analyst @ Flipkart on Contract,Flipkart Internet Private Limited,2-6 Yrs,Bangalore/Bengaluru

In [17]:
#Closing the driver
driver.close()

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
    
    1. first get the webpage https://www.naukri.com/
    
    2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
    
    3. Then click the search button.
    
    4. Then scrape the data for the first 10 jobs results you get.
    
    5. Finally create a dataframe of the scraped data.

Note:-
    1. All of the above steps have to be done in code. No step is to be done 
manually.
    2.Please note that you have to scrape full job description. For that you may have to 
open each job separately.

In [18]:
#lets first connect to the web driver
driver = webdriver.Edge("msedgedriver.exe")

In [19]:
#Getting the website to driver
driver.get('https://www.naukri.com/')

In [20]:
#finding element for job search bar
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.clear()
search_job.send_keys("Data Scientist")
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")
search_loc = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_loc.click()

In [21]:
#extracting all the tags having job titles
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="c2ceb884-d650-4f55-bb8e-7a22f928e44d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="fc34cfc5-4ccf-4078-900c-5fa4c348934d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="d893598b-d43b-479c-b8cb-dc4f4f03e402")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="698616fd-b86b-4cde-8cca-0a8cf8a5cc0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="e7bc0a2c-cf28-477a-84d7-be4e5e3b075a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="b5de7bd1-0dea-4087-8883-597c8b748a71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="b904f7e0-9a01-4eb4-ae4c-84ec3be7715d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="dd7bcbe0-fb78-4f21-a11a-ca4b29488210")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="0be20f8f-87aa-49ea-bc5e-111f6ee3a3bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="a74a5ac5-0b64-4921-82ee-47ea5752fe39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="9bc43920-0d99-4205-9530-44605238fbab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="9e2d7827-4036-4a2c-9b02-e82aa49846f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="491a109f-c4d4-4978-b550-bf7ee922a80a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="ad78fae6-8c1f-400a-9340-769ead4119e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="47982c71-7e8a-4ece-ac35-5b8208a1b943")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="59ebe50d-5fdd-4201-b8af-22d9dfd1e7f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="582e467c-b969-41e7-b9f1-ce5f10021d58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="00578ac0-4cf5-4193-8f9a-f6085c96db4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="9a064d84-ce20-4f06-aa21-06ecd932e734")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="19f97d23-6749-47ed-b8d7-b0efb54b3591")>]

In [22]:
#running loop to iterate over the tags extracted above and extract inside them
job_titles=[]

for i in titles_tags[:10]:
    job_titles.append(i.text)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist',
 'Big Data - Data Scientist',
 'Specialist I - Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'SDE Lead Data Scientist-L3',
 'Computational Design Lead Data Scientist-L3',
 'Hiring For DATA Scientist - ON Contract Basis (3-6 Months)',
 'Senior Data Scientist']

In [23]:
#extracting all the tags having the company names
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags

[<selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="80ecf7db-ceb1-4ba4-b17a-d2d07a8c760e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="07add486-e027-4041-a9c7-51e5f736544b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="5030878a-fc35-4aed-a0e7-fa130289961c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="13e1bbd8-71a8-48dc-8630-b64d4e868eb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="04ed92a2-02b4-4b2d-a709-de4956f3e4d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="1c2fae89-ea4d-4442-9eb3-a7fd023625dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="9f91ac5f-c447-4ac2-b103-20537b606f7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="7a8bfb97-96aa-4da8-a759-ca237cd779c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="e398a53d-2ca8-4d1c-bd04-c9cb96d00a1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="e4ddf483-0b30-44c0-a9b6-8909176ded8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="4abd6b9b-d4e6-4769-bb45-415dc2335470")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="e658f9be-d357-4f77-8676-eae6f0f707a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="582e86e9-0c7b-4d11-aabb-4423ddd1dd9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="25414b94-5b25-4354-bde1-c43c6c661016")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="b14dd9e3-3690-498f-b307-28356c567092")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="c0a9e4f3-861f-407b-b197-8dde1bcdee6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="e521c154-7d15-4dd0-80c4-3b38985b2e3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="e1b73d7f-a0f5-4b55-8e81-480113d9ba41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="9ed844a6-cfe4-4569-b1e1-ca0897b05bec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="9b4dc310-aa34-439b-b58e-b853e703d5dd")>]

In [24]:
#running loop to iterate over the tags extracted above and extract inside them
company_names=[]

for i in companies_tags[:10]:
    company_names.append(i.text)
company_names

['Inflexion Analytix Private Limited',
 'Wipro Limited',
 'Xoriant Solutions Pvt Ltd',
 'Philips India Limited',
 'IBM India Pvt. Limited',
 'Oracle India Pvt. Ltd.',
 'Huawei Technologies India Pvt Ltd',
 'Huawei Technologies India Pvt Ltd',
 'GlobalEdx Learning and Technology Solution Pvt Ltd',
 'GO-JEK India']

In [25]:
#extracting all the tags having the job locations
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="ffc99264-b79d-4abb-8328-d1def44c9ad7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="e708045f-25c6-4e14-a196-860fbad2cb5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="3d9b1c9e-e78c-41da-8d28-da3ba8061065")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="e070c52c-fb73-4b4a-89a9-c4173ea04024")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="7033a3e9-5cf7-49de-b774-bb375684f9a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="2761539d-1abf-4b2f-865c-77c146c3668b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="fa810920-6258-4d84-b1f6-f9020f25b132")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="fc0fcd4d-3381-4095-b065-42ab1b0a4843")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="ff78d112-1f72-4c20-bd94-33dfaf02f629")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="99f8ce6c-a75b-4654-9b37-420cdcf119bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="10c47550-7074-4b57-bd96-a89dbfd783c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="5e1c1dbc-834a-4b68-889c-b3009c7fe367")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="3f3d4e5c-9c0f-44f0-8ff7-e218064ce24d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="41516a90-016e-41c6-92bb-4f65d3ec51a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="276da66f-fb64-4a36-9575-0a2a9ee969c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="92745b87-5774-450a-876c-333e8d4360b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="bfe33186-c68e-4628-b693-40e9a39c4009")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="24043166-9ec9-4416-af46-efc5a80e5754")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="1c06173b-5f03-4506-a422-e52134ea8f2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60619a7cdfe65d9318a6811491f4e631", element="ad89c6c4-60f1-47b5-bac7-79eb7c28edaa")>]

In [26]:
#running loop to iterate over the tags extracted above and extract inside them
job_location=[]

for i in location_tags[:10]:
    job_location.append(i.text)
job_location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Kochi/Cochin, Indore, Hyderabad/Secunderabad, Pune, Ahmedabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru']

In [27]:
#extracting all the tags having job description
#jobdescription_tags = driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
#jobdescription_tags

#Getting job link for full job description
jobDescLink = driver.find_element_by_xpath(f'//*[@id="root"]/div[3]/div[2]/section[2]/div[2]/article[1]/div[1]/div[1]/a').get_attribute('href')
jobDescLink

'https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16217547056886549&xp=1&px=1'

In [28]:

def jobInfo(tileNumber):
    """This function will return all job related information from naukri.com
    It will visit each job listing to get the full job description. However, some companies have their own
    custom page within naukri.com and these custom pages do not follow a predictable HTML structure. Therefore
    whenever such a custom page is encounted, it adds Full Job Description not available in the jobDesc variable"""
    
    jobInfoTile = driver.find_element_by_xpath(f'//*[@id="root"]/div[3]/div[2]/section[2]/div[2]/article[{tileNumber}]/div[1]/div').text.split('\n')
    jobTitle = jobInfoTile[0]
    jobFirm = jobInfoTile[1]
    jobLocation = jobInfoTile[-1]
    
    jobDescLink = driver.find_element_by_xpath(f'//*[@id="root"]/div[3]/div[2]/section[2]/div[2]/article[{tileNumber}]/div[1]/div[1]/a').get_attribute('href')
    
    try:
        driver.get(jobDescLink)
        jobDesc = driver.find_element_by_xpath('//*[@id="root"]/main/div[2]/div[2]/section[2]').text.split('\n')[1::]
        jobDesc = ''.join(jobDesc)
        driver.back()
        
    except:
        jobDesc = 'Full Job decription not available'
        driver.back()
        
    finally:
        return jobTitle, jobFirm, jobLocation, jobDesc

In [29]:
#Getting jo info for the first 10 job listing

jobTitle = []
jobFirm = []
jobLocation = []
jobDesc = []

for index in range(1,11):
    print(f'Getting Job No. {index}')
    time.sleep(2)
    try:
        t ,f, l, d = jobInfo(index)
    
    except:
        print('Except block executed')
        continue
    
    else:
        time.sleep(3)
        jobTitle.append(t)
        jobFirm.append(f)
        jobLocation.append(l)
        jobDesc.append(d)
    print(f'\tSuccessfully collected Job {index} Info')

Getting Job No. 1
	Successfully collected Job 1 Info
Getting Job No. 2
	Successfully collected Job 2 Info
Getting Job No. 3
	Successfully collected Job 3 Info
Getting Job No. 4
	Successfully collected Job 4 Info
Getting Job No. 5
	Successfully collected Job 5 Info
Getting Job No. 6
	Successfully collected Job 6 Info
Getting Job No. 7
	Successfully collected Job 7 Info
Getting Job No. 8
	Successfully collected Job 8 Info
Getting Job No. 9
	Successfully collected Job 9 Info
Getting Job No. 10
	Successfully collected Job 10 Info

In [30]:
print(len(jobTitle),len(jobFirm),len(jobLocation),len(jobDesc))

10 10 10 10

In [31]:

#Making a job dataframe
jobs = pd.DataFrame()

jobs['Title'] = jobTitle
jobs['Company'] = jobFirm
jobs['Location'] = jobLocation
jobs['Description'] = jobDesc

jobs

,Title,Company,Location,Description
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Job Role : Data Scientist/Data Analyst /Busine...
1,Data Scientist,Wipro Limited,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",Role: Data ScientistRoles and Responsibilities...
2,Big Data - Data Scientist,Xoriant Solutions Pvt Ltd,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ...",Full Job decription not available
3,Specialist I - Data Scientist,Philips India Limited,Bangalore/Bengaluru,Responsibilities and Key Result AreasDesign an...
4,Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru,Full Job decription not available
5,Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru,Full Job decription not available
6,SDE Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,Bangalore/Bengaluru,"Business & Team overview:Founded in 1987, Huaw..."
7,Computational Design Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,Bangalore/Bengaluru,"Business & Team overview:Founded in 1987, Huaw..."
8,Senior Data Scientist,GO-JEK India,Bangalore/Bengaluru,About the RoleFasten your helmet and climb on ...
9,Senior Data Scientist,nanobi data and analytics private limited,Bangalore/Bengaluru,Expert understanding and demonstrated skills o...

In [32]:
#Closing the driver
driver.close()

Q3: In this question you have to scrape data using the filters available on the 
webpage below are the:
    > You have to use the location and salary filter.
    > You have to scrape data for “Data Scientist” designation for first 10 job results.
    > You have to scrape the job-title, job-location, company_name, experience_required.
    > The location filter to be used is “Delhi/NCR”
    > The salary filter to be used is “3-6” lakhs
    
The task will be done as shown in the below steps:
    1. first get the webpage https://www.naukri.com/
    2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
    3. Then click the search button.
    4. Then apply the location filter and salary filter by checking the respective boxes.
    5. Then scrape the data for the first 10 jobs results you get.
    6. Finally create a dataframe of the scraped data.
    
Note- All of the above steps have to be done in code. No step is to be done 
manually.

In [33]:
#lets first connect to the web driver
driver = webdriver.Edge("msedgedriver.exe")

In [34]:
#Getting the website to driver
driver.get('https://www.naukri.com/')

In [35]:
#finding element for job search bar
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.clear()
search_job.send_keys("Data Scientist")
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Delhi/NCR")
search_loc = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_loc.click()

In [36]:
#applying location filter to show job listings for Delhi/NCR
time.sleep(2)
driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[1]/label/p').click()

In [37]:
#applying location filter to show job listings for 3-6 lahks salary
time.sleep(2)
driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/p').click()

In [38]:
#Getting the first 10 job title
Title = []

for index in range(1,11):
    title = driver.find_element_by_xpath(f'//*[@id="root"]/div[3]/div[2]/section[2]/div[2]/article[{index}]/div[1]/div[1]/a')
    Title.append(title.text)

Title

['Data Scientist / Data Analyst -Business Analyst',
 'Business Analyst- Data Scientist',
 'Data Scientist - High growth VC backed Influencer Marketplace',
 'DATA Scientist – Gurgaon (Exp 3-6 years)',
 'DATA Scientist – Gurgaon (Exp 3-6 years)',
 'Data Scientist - Noida',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist II 5+ yrs II Gurgaon']

In [39]:
#Getting the first 10 hiring firms
Company = []

for index in range(1,11):
    company = driver.find_element_by_xpath(f'//*[@id = "root"]/div[3]/div[2]/section[2]/div[2]/article[{index}]/div[1]/div[1]/div/a[1]')
    Company.append(company.text)

Company

['Inflexion Analytix Private Limited',
 'Wipro',
 'Ravgins International Pvt. Ltd.',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED',
 'Optum Global Solutions (India) Private Limited',
 'Blitz Jobs',
 'IBM India Pvt. Limited',
 'Country Veggie',
 'Zenatix Solutions Private Limited']

In [40]:
#Getting the first 10 Experience Required for the Job
Experience = []

for index in range(1,11):
    exp = driver.find_element_by_xpath(f'//*[@id="root"]/div[3]/div[2]/section[2]/div[2]/article[{index}]/div[1]/div/ul/li[1]/span')
    Experience.append(exp.text.split()[0])
Experience

['0-3', '2-5', '3-5', '3-6', '3-6', '3-5', '3-5', '4-9', '1-3', '5-10']

In [41]:
#Getting the first 10 job location
Location = []

for index in range(1,11):
    location = driver.find_element_by_xpath(f'//*[@id="root"]/div[3]/div[2]/section[2]/div[2]/article[{index}]/div[1]/div[1]/ul/li[3]/span')
    Location.append(location.text)
Location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Noida, Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida',
 'Noida',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, New Delhi, Lucknow, Agra, Gurgaon/Gurugram, Rajkot, Bangalore/Bengaluru',
 'Gurgaon/Gurugram']

In [42]:
#Making a job dataframe

DataJobDelhiNCR = pd.DataFrame()

DataJobDelhiNCR['Title'] = Title
DataJobDelhiNCR['Location'] = Location
DataJobDelhiNCR['Company Name'] = Company
DataJobDelhiNCR['Experience in Years'] = Experience

DataJobDelhiNCR

,Title,Location,Company Name,Experience in Years
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3
1,Business Analyst- Data Scientist,"Noida, Gurgaon/Gurugram",Wipro,2-5
2,Data Scientist - High growth VC backed Influen...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Ravgins International Pvt. Ltd.,3-5
3,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6
4,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6
5,Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,3-5
6,Data Scientist,Noida,Blitz Jobs,3-5
7,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,4-9
8,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Country Veggie,1-3
9,Senior Data Scientist II 5+ yrs II Gurgaon,Gurgaon/Gurugram,Zenatix Solutions Private Limited,5-10

In [43]:
driver.close()

Q4: Write a python program to scrape data for first 10 job results for Data scientist 
Designation in Noida location. You have to scrape company_name, No. of days 
ago when job was posted, Rating of the company.

This task will be done in following steps:
    1. first get the webpage https://www.glassdoor.co.in/index.htm
    2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
    3. Then click the search button.
    4. Then scrape the data for the first 10 jobs results you get in the above shown page.
    5. Finally create a dataframe of the scraped data.
    
Note- All of the above steps have to be done in code. No step is to be done 
manually.

In [53]:

#Specifying the job search parameters
jobName = 'Data Scientist'
jobSearchLocation = 'Noida'

In [54]:
#Making a Selenium Driver object for Google and opening the Google Homepage
driverGoogle = webdriver.Edge("msedgedriver.exe")
driverGoogle.get(f'https://www.google.com/')

In [55]:
#Populating the Google Search Bar with our search term and clicking the search button
driverGoogle.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(f'glassdoor {jobName} {jobSearchLocation}')
driverGoogle.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[3]/center/input[1]').click()

In [56]:
#Getting the link to Glassdoor from Google Search Results
#glassdoorLink = 
driverGoogle.find_element_by_xpath('//*[@id="rso"]/div[1]/div/div/div[1]/a/h3').click()

In [57]:
#Getting the first job listing fomr Glassdoor and inspecting it structure so that we can use for loop later to 
#scrape all the other job listings
jobListTile = driverGoogle.find_element_by_xpath('//*[@id="MainCol"]/div[1]/ul/li[1]')

s = jobListTile.text.split('\n') #//*[@id="MainCol"]/div[1]/ul/li[2]

s

['4.4', 'Adobe', 'Research Scientist - Computer Vision', 'Noida', '28d']

In [58]:
#Making empty list for firm, ratings and no. of days ago the job was posted
#Note: The listings with missing Company Ratings are skipped
rating = []
firm = []
jobPosted = []
      
for i in range(1,20):
    jobListTile = driverGoogle.find_element_by_xpath(f'//*[@id="MainCol"]/div[1]/ul/li[{i}]').text.split('\n')
    if len(jobListTile[0]) > 4:
        continue
    else:
        rating.append(jobListTile[0])
        firm.append(jobListTile[1])
        jobPosted.append(jobListTile[-2])

In [59]:
#Keeping only the first 10 job details
rating = rating[0:10]
firm = firm[0:10]
jobPosted = jobPosted[0:10]

In [60]:
#making a dataframe with al job details and displaying them
glassdoorDSNoida = pd.DataFrame()

glassdoorDSNoida['Firm Name'] = firm
glassdoorDSNoida['Rating'] = rating
glassdoorDSNoida['Posted (hours/days ago)'] = jobPosted

glassdoorDSNoida

        Firm Name Rating Posted (hours/days ago)
0           Adobe    4.4                   Noida
1        Ericsson    4.1                      3d
2         CRMNEXT    3.6                   Noida
3   NatWest Group    3.9                     24h
4         CRMNEXT    3.6                   Noida
5         WishFin    3.8                   Noida
6  Biz2Credit Inc    3.8                    30d+
7        Techlive    5.0                   Noida
8       dunnhumby    4.1                      1d
9           Adobe    4.4                      2d

In [61]:
driverGoogle.close()

Q5: Write a python program to scrape the salary data for Data Scientist designation 
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.

The above task will be, done as shown in the below steps:
    1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
    2. Enter “Data Scientist” in Job title field and “Noida” in location field.
    3. Click the search button.
    4. After that you will land on the webpage from there You have to scrape whole data from this webpage
    5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
    6.Store the data in a dataframe.

Note that all of the above steps have to be done by coding only and not manually.

In [62]:
#lets first connect to the web driver
driverGlassdoor = webdriver.Edge("msedgedriver.exe")
driverGlassdoor.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [63]:
#filling the job title bar
driverGlassdoor.find_element_by_xpath('//*[@id="KeywordSearch"]').send_keys('Data Scientist')

In [64]:
#clearing any existing entry and filling the job location bar
driverGlassdoor.find_element_by_xpath('//*[@id="LocationSearch"]').clear()
driverGlassdoor.find_element_by_xpath('//*[@id="LocationSearch"]').send_keys('Noida')

In [65]:
#Clicking the search button
driverGlassdoor.find_element_by_xpath('//*[@id="HeroSearchButton"]').click()

In [66]:
#Getting th first listing from Glassdoor and inspecting it structure so that we can use for loop later to 
#scrape all the other job listings
time.sleep(2) #Will throw error if executed before the page loads. This line ensures we wait for 2 seconds
s = driverGlassdoor.find_element_by_css_selector('#SalariesByCompany > div.module.mb-0 > div:nth-child(4) > div')

In [67]:
#studying the structure of the first listing
s.text.split('\n')

['Data Scientist',
 'Tata Consultancy Services',
 '17 salaries',
 'See 131 salaries from all locations',
 '₹ 6,14,306',
 '/yr',
 '₹343K',
 '₹1,250K']

In [68]:
#Using for loop to get all salary related information from all listing 

firm = []
salaryNum = []
avgSalary = []
minSalary = []
maxSalary = []

for index in range(4, 20): #listing states from 4th child. So the loop starts from 4
    jobListTile = driverGlassdoor.find_element_by_css_selector(f'#SalariesByCompany > div.module.mb-0 > div:nth-child({index}) > div').text.split('\n')
    try:
        print(f'interation {index-3}')
        if len(jobListTile[2])> 11:
            pass
        else:
            firm.append(jobListTile[1])
            salaryNum.append(jobListTile[2])
            avgSalary.append(jobListTile[4])
            minSalary.append(jobListTile[-2])
            maxSalary.append(jobListTile[-1])
    except IndexError:
        continue

interation 1
interation 2
interation 3
interation 4
interation 5
interation 6
interation 7
interation 8
interation 9
interation 10
interation 11
interation 12
interation 13
interation 14
interation 15
interation 16

In [69]:
#Making a dataframe of the scraped data and keeping only the first 10 salary data
DSNoidaSalaryData = pd.DataFrame()

DSNoidaSalaryData['Company'] = firm[0:10]
DSNoidaSalaryData['No. of Salary'] = salaryNum[0:10]
DSNoidaSalaryData['Average Salary'] = avgSalary[0:10]
DSNoidaSalaryData['Minimum Salary'] = minSalary[0:10]
DSNoidaSalaryData['Maximum Salary'] = maxSalary[0:10]

DSNoidaSalaryData

,Company,No. of Salary,Average Salary,Minimum Salary,Maximum Salary
0,Tata Consultancy Services,17 salaries,"₹ 6,14,306",₹343K,"₹1,250K"
1,IBM,15 salaries,"₹ 9,00,000",₹586K,"₹2,730K"
2,Accenture,14 salaries,"₹ 11,46,533",₹577K,"₹2,213K"
3,Ericsson-Worldwide,14 salaries,"₹ 7,38,057",₹355K,"₹1,613K"
4,Delhivery,14 salaries,"₹ 12,39,781",₹450K,"₹11,622K"
5,UnitedHealth Group,11 salaries,"₹ 13,36,142","₹1,069K","₹1,520K"
6,Valiance Solutions,9 salaries,"₹ 8,15,192",₹502K,"₹1,465K"
7,EXL Service,8 salaries,"₹ 11,44,243",₹575K,"₹1,520K"
8,Innovaccer,8 salaries,"₹ 12,07,110",₹620K,"₹1,695K"
9,Cognizant Technology Solutions,6 salaries,"₹ 10,07,410",₹792K,"₹1,263K"

In [70]:
driverGlassdoor.close()

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to 
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

To scrape the data you have to go through following steps:
    1. Go to flipkart webpage by url https://www.flipkart.com/
    2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
    3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
    4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it
    5. Now scrape data from this page as usual
    6. repeat this until you get data for 100 sunglasses.
    
Note that all of the above steps have to be done by coding only and not manually.

In [71]:
driverFlipkart = webdriver.Edge("msedgedriver.exe")
driverFlipkart.get('https://www.flipkart.com')

In [72]:
#Filling the search bar and clicking search
searchTerm = 'sunglasses'

driverFlipkart.find_element_by_xpath('/html/body/div[2]/div/div/button').click() #Dismissing flipkart login/offer pop-up
driverFlipkart.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').send_keys(searchTerm)
driverFlipkart.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()

In [73]:
#Taking the first element and inspecting the structure to see what combination of commands produces the desired output
#Then we will use these combination 
time.sleep(2)
listings = driverFlipkart.find_elements_by_class_name('_2B099V')

In [74]:
a = listings[2].text.split('\n')
a

['Fastrack',
 'UV Protection Rectangular Sunglasses (Free Size)',
 '₹570₹79928% off',
 'Or Pay ₹541 + ',
 ' 29',
 'Buy 2 items, save extra 5%']

In [75]:
a[0]

'Fastrack'

In [76]:
a[1]

'UV Protection Rectangular Sunglasses (Free Size)'

In [77]:
a[2].split('₹')[1]

'570'

In [78]:
a[2].split('₹')[2].split()[-2][-3:-1]

'28'

In [79]:
def sunglassScrapper():
    '''This function scrapes all the listings in Flipkarts page and then goes to the next page by clicking the Next button'''
    brand = []
    proDesc = []
    price = []
    discount = []
    sunglassListing = driverFlipkart.find_elements_by_class_name('_2B099V')
    for index in range(len(sunglassListing)):
        sunglassInfo = sunglassListing[index].text.split('\n')
        brand.append(sunglassInfo[0])
        proDesc.append(sunglassInfo[1])
        price.append(sunglassInfo[2].split('₹')[1])
        discount.append(sunglassInfo[2].split('₹')[2].split()[-2][-3:-1])
    
    #Clicking the next button and waiting for 2 seconds
    try:
        #This block is for page 2 and subsiquent pages where there is 'Previous' and 'Next' buttons both of which
        #have the class '_1LKTO3'
        driverFlipkart.find_elements_by_class_name('_1LKTO3')[1].click()
    except:
        #This exception block is for the first page only where there is only 'Next' button
        driverFlipkart.find_element_by_class_name('_1LKTO3').click()
        
    time.sleep(2)
        
    return brand, proDesc, price, discount

In [80]:
#Using the function above in a for loop to scrap the data from first 3 pages

time.sleep(2)
sunglassBrand = []
sunglassDesc = []
sunglassPrice = []
sunglassDiscount = []

for index in range(0,3):
    b, d, p, dis = sunglassScrapper()
    sunglassBrand.extend(b)
    sunglassDesc.extend(d)
    sunglassPrice.extend(p)
    sunglassDiscount.extend(dis)
    print(f'Product Page {index + 1} scrapped')

Product Page 1 scrapped
Product Page 2 scrapped
Product Page 3 scrapped

In [81]:
#making a dataframe and keeping the first 100 sunglass information

sunglassInfo = pd.DataFrame()

sunglassInfo['Brand'] = sunglassBrand[0:100]
sunglassInfo['Description'] = sunglassDesc[0:100]
sunglassInfo['Price'] = sunglassPrice[0:100]
sunglassInfo['Discount %'] = sunglassDiscount[0:100]

sunglassInfo

,Brand,Description,Price,Discount %
0,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",169,87
1,ROYAL SON,UV Protection Retro Square Sunglasses (49),664,66
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),570,28
3,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),499,77
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),733,18
...,...,...,...,...
95,AISLIN,"UV Protection, Gradient Oval Sunglasses (58)",525,65
96,AISLIN,UV Protection Oval Sunglasses (60),764,69
97,Singco India,UV Protection Round Sunglasses (Free Size),205,79
98,GANSTA,"UV Protection, Night Vision, Riding Glasses Av...",292,85
99,NuVew,"UV Protection, Mirrored Aviator, Wayfarer Sung...",377,67

In [82]:
driverFlipkart.close()

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to 
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.

These are 
1. Rating 
2. Review_summary 
3. Full review
You have to scrape this data for first 100 reviews.

In [83]:
iPhoneDriver = webdriver.Edge("msedgedriver.exe")
iPhoneDriver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [84]:
#Clicking the all reviews button to go to full review page
iPhoneDriver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div').click()

In [85]:
#Checking the first review to study its structure
reviews = iPhoneDriver.find_elements_by_class_name('_2wzgFH')
a =reviews[0].text.split('\n')

In [86]:
a

['5',
 'Brilliant',
 'The Best Phone for the Money',
 '',
 'The iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.',
 '',
 'Compelling ultra-wide camera',
 'New Night mode is excellent',
 'Long battery life',
 'Ankit',
 'Certified Buyer, Gurgaon',
 'Sep, 2019',
 '6790988']

In [87]:
' '.join(a[2:9:]).replace('  ', ' ')

'The Best Phone for the Money The iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price. Compelling ultra-wide camera New Night mode is excellent Long battery life'

In [88]:
len(a)-4

9

In [89]:
def iPhoneReviewScrapper():
    '''This function scrapes all the iPhone reviews from Flipkarts and then goes to the next page by clicking the Next button'''
    rating = []
    summary = []
    review = []
    
    reviewList = iPhoneDriver.find_elements_by_class_name('_2wzgFH')
    for index in range(len(reviewList)):
        reviewItems = reviewList[index].text.split('\n')
        rating.append(reviewItems[0])
        summary.append(reviewItems[1])
        review.append(' '.join(reviewItems[2:(len(reviewItems)-4)]).replace('  ', ' '))
    
    #Clicking the next button and waiting for 2 seconds
    try:
        #This block is for page 2 and subsiquent pages where there is 'Previous' and 'Next' buttons both of which
        #have the class '_1LKTO3'
        iPhoneDriver.find_elements_by_class_name('_1LKTO3')[1].click()
    except:
        #This exception block is for the first page only where there is only 'Next' button
        iPhoneDriver.find_element_by_class_name('_1LKTO3').click()
    
    time.sleep(2)
        
    return rating, summary, review

In [90]:
#Scrapping iPhone reviews for the first 10 pages

time.sleep(2)

iPhoneRating = []
iPhoneSummary = []
iPhoneReview = []

for index in range(0, 10):
    r, s, re = iPhoneReviewScrapper()
    iPhoneRating.extend(r)
    iPhoneSummary.extend(s)
    iPhoneReview.extend(re)
    print(f'Review Page {index+1} scrapped')

Review Page 1 scrapped
Review Page 2 scrapped
Review Page 3 scrapped
Review Page 4 scrapped
Review Page 5 scrapped
Review Page 6 scrapped
Review Page 7 scrapped
Review Page 8 scrapped
Review Page 9 scrapped
Review Page 10 scrapped

In [91]:
#Making a dataframe of all reviews

iPhoneReviewsDf = pd.DataFrame()

iPhoneReviewsDf['Review Title'] = iPhoneSummary
iPhoneReviewsDf['Rating'] = iPhoneRating
iPhoneReviewsDf['Full Review'] = iPhoneReview

iPhoneReviewsDf

,Review Title,Rating,Full Review
0,Brilliant,5,The Best Phone for the Money The iPhone 11 off...
1,Perfect product!,5,Amazing phone with great cameras and better ba...
2,Great product,5,Amazing Powerful and Durable Gadget. I’m am ve...
3,Worth every penny,5,Previously I was using one plus 3t it was a gr...
4,Good choice,4,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,Good quality product,4,"Awesome camera, smooth and fast UI, display is..."
96,Fabulous!,5,Everything is perfect pictures come out so cle...
97,Not recommended at all,1,They are selling cheep quality items. There is...
98,Does the job,3,phone is good but in display is 720p lcd in th...
99,Excellent,5,A perfect phone and a good battery super camer...

In [92]:
iPhoneDriver.close()

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

Also note that all the steps required during scraping should be done through code only and not manually.

In [93]:
sneakerDriver = webdriver.Edge("msedgedriver.exe")
sneakerDriver.get('https://www.flipkart.com')

In [94]:
#Filling the search bar and clicking search

searchTerm = 'snearkers'

sneakerDriver.find_element_by_xpath('/html/body/div[2]/div/div/button').click() #dismissing flipkart offer/login pop-up
sneakerDriver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').send_keys(searchTerm)
sneakerDriver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()

In [95]:
#Taking the first element and inspecting the structure to see what combination of commands produces the desired output
#Then we will use these combination 
time.sleep(2)
listings = sneakerDriver.find_elements_by_class_name('_2B099V')

In [96]:
a = listings[0].text.split('\n')
a

['Robbie jones',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 '₹379₹99962% off']

In [97]:
a[0]

'Robbie jones'

In [98]:
a[1]

'Casual Sneakers Shoes For Men Sneakers For Men'

In [99]:
a[2].split('₹')[1]

'379'

In [100]:
a[2].split('₹')[2].split()[-2][-3:-1]

'62'

In [101]:
def sneakerScrapper():
    '''This function scrapes all the listings in Flipkarts page and then goes to the next page by clicking the Next button'''
    brand = []
    proDesc = []
    price = []
    discount = []
    time.sleep(2)
    sneakerListing = sneakerDriver.find_elements_by_class_name('_2B099V')
    for index in range(len(sneakerListing)):
        try:
            sneakerInfo = sneakerListing[index].text.split('\n')
            brand.append(sneakerInfo[0])
            proDesc.append(sneakerInfo[1])
            price.append(sneakerInfo[2].split('₹')[1])
            discount.append(sneakerInfo[2].split('₹')[2].split()[-2][-3:-1])
        except IndexError:
            continue
    
    #Clicking the next button and waiting for 2 seconds
    try:
        #This block is for page 2 and subsiquent pages where there is 'Previous' and 'Next' buttons both of which
        #have the class '_1LKTO3'
        sneakerDriver.find_elements_by_class_name('_1LKTO3')[1].click()
    except:
        #This exception block is for the first page only where there is only 'Next' button
        sneakerDriver.find_element_by_class_name('_1LKTO3').click()
        
    time.sleep(2)
        
    return brand, proDesc, price, discount

In [102]:
#Scrapping sneakers data from the first 3 pages
time.sleep(2)

sneakerBrand = []
sneakerDesc = []
sneakerPrice = []
sneakerDiscount = []

for index in range(0,3):
    b, d, p, dis = sneakerScrapper()
    sneakerBrand.extend(b)
    sneakerDesc.extend(d)
    sneakerPrice.extend(p)
    sneakerDiscount.extend(dis)
    print(f'Product Page {index + 1} scrapped')

Product Page 1 scrapped
Product Page 2 scrapped
Product Page 3 scrapped

In [103]:
#Making a dataframe with sneaker data and keeping the first 100 sneaker info

sneakerInfo = pd.DataFrame()

sneakerInfo['Brand'] = sneakerBrand[0:100]
sneakerInfo['Description'] = sneakerDesc[0:100]
sneakerInfo['Price'] = sneakerPrice[0:100]
sneakerInfo['Discount %'] = sneakerDiscount[0:100]

sneakerInfo

,Brand,Description,Price,Discount %
0,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,379,62
1,Wika,Sneakers For Men,449,55
2,Numenzo,Sneakers For Men,399,60
3,BRUTON,Men Sports Sneakers For Men,299,76
4,ORICUM,Combo pack of 2 casual sneaker shoes for men S...,377,62
...,...,...,...,...
95,KANEGGYE,Sneakers For Men,410,53
96,Imcolus,Sneakers For Men,464,62
97,PUMA,Icon IDP Sneakers For Men,"1,234",72
98,VISTAARA,489 Black Sneakers For Men,279,66
99,Bucik,Black Casual Shoes Synthetic Leather for Men S...,674,23

In [104]:
sneakerDriver.close()

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”. And then scrape First 100 shoes data you get. The data should include “Brand” of 
the shoes , Short Shoe description, price of the shoe

Please note that applying the filter and scraping the data , everything should be 
done through code only and there should not be any manual step.

In [105]:
myntraDriver = webdriver.Edge("msedgedriver.exe")
myntraDriver.get('https://www.myntra.com/shoes')

In [106]:
#applying the colours filter
myntraDriver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]').click()

time.sleep(2)

In [107]:
#applying the price filter
myntraDriver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label').click()

In [108]:
#Getting page 1 shoe informations
time.sleep(2)
page1shoes = myntraDriver.find_elements_by_class_name('product-productMetaInfo')
len(page1shoes)

50

In [109]:
a = page1shoes[0].text.split('\n')
a

['Hush Puppies', 'Men Solid Leather Formal Slip-Ons', 'Rs. 8999']

In [110]:
a[2].split('Rs.')[1].replace(' ', '')

'8999'

In [111]:
#making three empty list and adding the brand, description and price information there

brand = []
shortDesc = []
price = []

for index in range(len(page1shoes)):
    print(f'Getting Product {index+1}')
    shoeInfo = page1shoes[index].text.split('\n')
    brand.append(shoeInfo[0])
    shortDesc.append(shoeInfo[1])
    price.append(shoeInfo[2].split('Rs.')[1].replace(' ', ''))
    print(f'Done for Product {index+1}')

Getting Product 1
Done for Product 1
Getting Product 2
Done for Product 2
Getting Product 3
Done for Product 3
Getting Product 4
Done for Product 4
Getting Product 5
Done for Product 5
Getting Product 6
Done for Product 6
Getting Product 7
Done for Product 7
Getting Product 8
Done for Product 8
Getting Product 9
Done for Product 9
Getting Product 10
Done for Product 10
Getting Product 11
Done for Product 11
Getting Product 12
Done for Product 12
Getting Product 13
Done for Product 13
Getting Product 14
Done for Product 14
Getting Product 15
Done for Product 15
Getting Product 16
Done for Product 16
Getting Product 17
Done for Product 17
Getting Product 18
Done for Product 18
Getting Product 19
Done for Product 19
Getting Product 20
Done for Product 20
Getting Product 21
Done for Product 21
Getting Product 22
Done for Product 22
Getting Product 23
Done for Product 23
Getting Product 24
Done for Product 24
Getting Product 25
Done for Product 25
Getting Product 26
Done for Product 26
Getting Product 27
Done for Product 27
Getting Product 28
Done for Product 28
Getting Product 29
Done for Product 29
Getting Product 30
Done for Product 30
Getting Product 31
Done for Product 31
Getting Product 32
Done for Product 32
Getting Product 33
Done for Product 33
Getting Product 34
Done for Product 34
Getting Product 35
Done for Product 35
Getting Product 36
Done for Product 36
Getting Product 37
Done for Product 37
Getting Product 38
Done for Product 38
Getting Product 39
Done for Product 39
Getting Product 40
Done for Product 40
Getting Product 41
Done for Product 41
Getting Product 42
Done for Product 42
Getting Product 43
Done for Product 43
Getting Product 44
Done for Product 44
Getting Product 45
Done for Product 45
Getting Product 46
Done for Product 46
Getting Product 47
Done for Product 47
Getting Product 48
Done for Product 48
Getting Product 49
Done for Product 49
Getting Product 50
Done for Product 50

In [112]:
page1shoes[0].text

'Hush Puppies\nMen Solid Leather Formal Slip-Ons\nRs. 8999'

In [113]:
myntraDriver.find_element_by_xpath('//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[12]/a').click()

In [114]:
#Getting page 2 shoe informations and adding the brand, description and price information to ther existing list of brand, descriptipn  and price
page2shoes = myntraDriver.find_elements_by_class_name('product-productMetaInfo')

time.sleep(2)

for index in range(len(page2shoes)):
    shoeInfo = page2shoes[index].text.split('\n')
    brand.append(shoeInfo[0])
    shortDesc.append(shoeInfo[1])
    price.append(shoeInfo[2].split('Rs.')[1].replace(' ', ''))

In [115]:
#Getting page 3 shoe informations and adding the brand, description and price information to ther existing list of brand, descriptipn  and price

page3shoes = myntraDriver.find_element_by_class_name('product-productMetaInfo').text.split('\n')

brand.append(page3shoes[0])
shortDesc.append(page3shoes[1])
price.append(page3shoes[2].split('Rs.')[1].replace(' ', ''))

In [116]:
#making a dataframe with all shoes

myntraSneakersDf = pd.DataFrame()

myntraSneakersDf['Brand'] = brand
myntraSneakersDf['Price'] = price
myntraSneakersDf['Description'] = shortDesc

myntraSneakersDf

                    Brand  Price                        Description
0            Hush Puppies   8999  Men Solid Leather Formal Slip-Ons
1    Heel & Buckle London   7693         Men Leather Formal Oxfords
2               Florsheim   6995   Men Solid Leather Formal Loafers
3                    Nike  11495     AIR ZOOM PEGASUS Running Shoes
4                    Nike  12995       Men KD13 EP Basketball Shoes
..                    ...    ...                                ...
96              Florsheim   6995   Men Solid Leather Formal Loafers
97                  Ruosh   8990                Men Textured Derbys
98              Florsheim   6995    Men Solid Leather Formal Derbys
99                   FILA   6999               Women Solid Sneakers
100          Hush Puppies   6999          Men Leather Formal Derbys

[101 rows x 3 columns]

In [117]:
myntraDriver.close()

Q10: Go to webpage https://www.amazon.in/
 Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”.
 After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
    1. title
    2. Ratings
    3. Price

Note: Amazon has a very dynamic website and it changes with each session. Sometimes all the products dont have the same information, sometimes they do not follow the usual patter which causes the code to crash. In such a case, please re-run the code after some time. Also, sometimes the i9 filter is not shown. In this case, close the session and re-run the code until the filter shows up.

In [118]:
driverAmazon = webdriver.Edge("msedgedriver.exe")
driverAmazon.get('https://www.amazon.in')

In [119]:
#filling the search bar
driverAmazon.find_element_by_xpath('//*[@id="twotabsearchtextbox"]').send_keys('Laptop')

In [120]:
#clicking the search button
driverAmazon.find_element_by_xpath('//*[@id="nav-search-submit-button"]').click()

In [121]:
#applying i7 filter
time.sleep(3)
driverAmazon.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span').click()

In [124]:
#checking the first listing to study the structure
i7 = driverAmazon.find_element_by_xpath('//*[@id="search"]/div[1]/div/div[1]/div/span[3]/div[2]/div[4]/div/span/div/div/div[2]/div[2]/div').text.split('\n')
i7

["(Renewed) HP EliteBook 840 G3 Laptop (Core i7 6th Gen/8GB/500GB/WEBCAM/14'' Touch/DOS)",
 '₹44,999',
 '₹1,20,000 Save ₹75,001 (63%)',
 'Save extra with No Cost EMI',
 'Get it by Monday, May 31',
 'FREE Delivery',
 'Only 1 left in stock.']

In [125]:
i7[0]

"(Renewed) HP EliteBook 840 G3 Laptop (Core i7 6th Gen/8GB/500GB/WEBCAM/14'' Touch/DOS)"

In [126]:
i7[2]

'₹1,20,000 Save ₹75,001 (63%)'

In [128]:
#rating = driverAmazon.find_element_by_xpath('//*[@id="search"]/div[1]/div/div[1]/div/span[3]/div[2]/div[4]/div/span/div/div/div[2]/div[2]/div/div[2]/div/span[1]/span/a/i[1]/span').get_attribute('innerHTML')
#rating

In [129]:
#Getting all the laptop listing
#This code ignores listings which do not have all the necessary information

time.sleep(3)

title = []
price = []
rating = []

for index in range(2,30):
    try:
        print(f'Getting Product {index-1}')
      
        i7 = driverAmazon.find_element_by_xpath(f'//*[@id="search"]/div[1]/div/div[1]/div/span[3]/div[2]/div[{index}]/div/span/div').text.split('\n')
        i7Rating = driverAmazon.find_element_by_xpath(f'//*[@id="search"]/div[1]/div/div[1]/div/span[3]/div[2]/div[{index}]/div/span/div/div/div[2]/div[2]/div/div[2]/div/span[1]/span/a/i[1]/span').get_attribute('innerHTML')
        title.append(i7[0])
        price.append(i7[2])
        rating.append(i7Rating)
    except IndexError:
        title.pop()
        continue
    
    except NoSuchElementException:
        continue

Getting Product 1
Getting Product 2
Getting Product 3
Getting Product 4
Getting Product 5
Getting Product 6
Getting Product 7
Getting Product 8
Getting Product 9
Getting Product 10
Getting Product 11
Getting Product 12
Getting Product 13
Getting Product 14
Getting Product 15
Getting Product 16
Getting Product 17
Getting Product 18
Getting Product 19
Getting Product 20
Getting Product 21
Getting Product 22
Getting Product 23
Getting Product 24
Getting Product 25
Getting Product 26
Getting Product 27
Getting Product 28

In [130]:
len(title)

16

In [131]:
len(rating)

16

In [132]:
len(price)

16

In [133]:
#making a dataframe with i7 laptop information

i7laptopDf = pd.DataFrame()

i7laptopDf['Name'] = title
i7laptopDf['Price'] = price
i7laptopDf['Rating'] = rating

i7laptopDf

,Name,Price,Rating
0,Mi Notebook Horizon Edition 14 Intel Core i5-1...,Deal of the Day,4.4 out of 5 stars
1,"Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6""...","₹1,35,490",4.3 out of 5 stars
2,HP Pavilion (2021) Thin & Light 11th Gen Core ...,"₹84,999",4.4 out of 5 stars
3,"Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...","₹3,43,099",4.0 out of 5 stars
4,Lenovo Legion Y540 Intel Core i7 9th Gen 15.6”...,Deal of the Day,4.3 out of 5 stars
5,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,"₹84,990",3.0 out of 5 stars
6,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"₹42,409",2.6 out of 5 stars
7,ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...,"₹79,980",4.4 out of 5 stars
8,Acer Nitro 5 Intel Core i7-9th Gen 17.3-inch D...,"₹69,990",3.0 out of 5 stars
9,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"₹47,050",2.9 out of 5 stars
10,"Dell Inspiron 5406 14"" FHD Touch Display 2in1 ...","₹84,872",3.5 out of 5 stars
11,"2019 HP 17.3"" HD+ Touchscreen Laptop Computer","₹2,01,524",4.5 out of 5 stars
12,CUK VivoBook K571 by ASUS 15 Inch Gaming Lapto...,"₹1,44,643",4.7 out of 5 stars
13,(Renewed) Lenovo Intel 4th Gen Core i7-4980HQ ...,"₹46,290",3.0 out of 5 stars
14,"Lenovo 2019 Yoga C930 2-in-1 13.9"" 4K UHD Touc...","₹2,16,327",4.1 out of 5 stars
15,OMEN by HP 15.6-inch 10th Gen Intel Core i7-10...,"₹1,34,999",1.9 out of 5 stars

In [134]:
#closing the browers
driverAmazon.close()

In [135]:
#Starting a new session and seraching for laptop
time.sleep(2)
driverAmazon = webdriver.Edge("msedgedriver.exe")
driverAmazon.get('https://www.amazon.in')

In [136]:
driverAmazon.find_element_by_xpath('//*[@id="twotabsearchtextbox"]').send_keys('Laptop')

In [137]:
driverAmazon.find_element_by_xpath('//*[@id="nav-search-submit-button"]').click()

In [138]:
#Applying the i9 filter
time.sleep(3)
driverAmazon.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/span').click()

In [139]:
#checking the first listing to study the structure
i9 = driverAmazon.find_element_by_xpath('//*[@id="search"]/div[1]/div/div[1]/div/span[3]/div[2]/div[2]/div/div/div/div[2]/div[2]/div').text.split('\n')
i9

['ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 '4',
 '₹2,99,325',
 '₹3,26,990 Save ₹27,665 (8%)',
 'Save extra with No Cost EMI',
 'Get it by Monday, May 31',
 'FREE Delivery by Amazon',
 'Only 1 left in stock.']

In [140]:
i9[0]

'ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T'

In [141]:
i9[2]

'₹2,99,325'

In [142]:
i9rating = driverAmazon.find_element_by_xpath('//*[@id="search"]/div[1]/div/div[1]/div/span[3]/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[2]/div/span[1]/span/a/i[1]/span').get_attribute('innerHTML')
i9rating

'3.8 out of 5 stars'

In [143]:
#Getting all the laptop listing
#This code ignores listings which do not have all the necessary information

time.sleep(3)

title = []
price = []
rating = []

for index in range(0,30):
    try:
        print(f'Getting Product {index}')
        i9 = driverAmazon.find_element_by_xpath(f'//*[@id="search"]/div[1]/div/div[1]/div/span[3]/div[2]/div[{index}]/div/div/div/div[2]/div[2]/div').text.split('\n')

        i9Rating = driverAmazon.find_element_by_xpath(f'//*[@id="search"]/div[1]/div/div[1]/div/span[3]/div[2]/div[{index}]/div/div/div/div[2]/div[2]/div/div[2]/div/span[1]/span/a/i[1]/span').get_attribute('innerHTML')
        title.append(i9[0])
        price.append(i9[2])
        rating.append(i9Rating[0:3])
    except IndexError:
        title.pop()
        continue
    
    except NoSuchElementException:
        continue

Getting Product 0
Getting Product 1
Getting Product 2
Getting Product 3
Getting Product 4
Getting Product 5
Getting Product 6
Getting Product 7
Getting Product 8
Getting Product 9
Getting Product 10
Getting Product 11
Getting Product 12
Getting Product 13
Getting Product 14
Getting Product 15
Getting Product 16
Getting Product 17
Getting Product 18
Getting Product 19
Getting Product 20
Getting Product 21
Getting Product 22
Getting Product 23
Getting Product 24
Getting Product 25
Getting Product 26
Getting Product 27
Getting Product 28
Getting Product 29

In [144]:
len(title)

6

In [145]:
len(price)

6

In [146]:
len(rating)

6

In [147]:
#making a dataframe with i7 laptop information

i9laptopDf = pd.DataFrame()

i9laptopDf['Name'] = title
i9laptopDf['Price'] = price
i9laptopDf['Rating'] = rating

i9laptopDf

                                                Name      Price Rating
0  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...  ₹2,99,325    3.8
1  Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...  ₹2,48,790    2.4
2  Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...  ₹2,62,990    3.7
3  ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz...  ₹2,77,490    4.8
4  Apple MacBook Pro (16-inch, 16GB RAM, 1TB Stor...  ₹2,24,990    4.2
5  HP Z4 Workstation, Intel Core i9-7900X, RAM 32...  ₹2,69,900    5.0

In [148]:
#Merging the i7 and i9 information in to one dataframe

laptopDf = i7laptopDf.append(i9laptopDf, ignore_index=True)
laptopDf

,Name,Price,Rating
0,Mi Notebook Horizon Edition 14 Intel Core i5-1...,Deal of the Day,4.4 out of 5 stars
1,"Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6""...","₹1,35,490",4.3 out of 5 stars
2,HP Pavilion (2021) Thin & Light 11th Gen Core ...,"₹84,999",4.4 out of 5 stars
3,"Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...","₹3,43,099",4.0 out of 5 stars
4,Lenovo Legion Y540 Intel Core i7 9th Gen 15.6”...,Deal of the Day,4.3 out of 5 stars
5,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,"₹84,990",3.0 out of 5 stars
6,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"₹42,409",2.6 out of 5 stars
7,ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...,"₹79,980",4.4 out of 5 stars
8,Acer Nitro 5 Intel Core i7-9th Gen 17.3-inch D...,"₹69,990",3.0 out of 5 stars
9,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"₹47,050",2.9 out of 5 stars
10,"Dell Inspiron 5406 14"" FHD Touch Display 2in1 ...","₹84,872",3.5 out of 5 stars
11,"2019 HP 17.3"" HD+ Touchscreen Laptop Computer","₹2,01,524",4.5 out of 5 stars
12,CUK VivoBook K571 by ASUS 15 Inch Gaming Lapto...,"₹1,44,643",4.7 out of 5 stars
13,(Renewed) Lenovo Intel 4th Gen Core i7-4980HQ ...,"₹46,290",3.0 out of 5 stars
14,"Lenovo 2019 Yoga C930 2-in-1 13.9"" 4K UHD Touc...","₹2,16,327",4.1 out of 5 stars
15,OMEN by HP 15.6-inch 10th Gen Intel Core i7-10...,"₹1,34,999",1.9 out of 5 stars
16,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,"₹2,99,325",3.8
17,"Dell XPS 9570 15.6"" (39.62cms) UHD Laptop (8th...","₹2,48,790",2.4
18,Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...,"₹2,62,990",3.7
19,"ASUS ROG Strix Scar 17 (2020), 17.3"" FHD 300Hz...","₹2,77,490",4.8
20,"Apple MacBook Pro (16-inch, 16GB RAM, 1TB Stor...","₹2,24,990",4.2
21,"HP Z4 Workstation, Intel Core i9-7900X, RAM 32...","₹2,69,900",5.0

In [149]:
driverAmazon.close()